<p><%= @errors %></p>
<% if params["cat"] == "user" %>
<h1>Please type in your desired username.</h1>
<form action="/new_user_form_do">
  <% binding.pry  %>
  <input type="text" placeholder="New User Name" name="user_name" value="<% params["user_name"] %>">
  <input type="submit">
</form>

<% elsif params["cat"] == "country" %>

<h1>Please enter all the information below and hit submit.</h1>

<form action="/new_country_form_do">
  <input type="text" placeholder="New Country Name" name="country_name" value="<% params["country_name"] %>">
  <input type="text" placeholder= "New Country Description" name="description">
  <input type="submit">
</form>

<a href="/saint_countries">Return to Saint Countries</a></b>

<% elsif params["cat"] == "category" %>

<form action="/new_category_form_do">
  <input type="text" placeholder="New Category Name" name="category_name" value="<% params["category_name"] %>">
  <input type="submit">
</form>

<a href="/saint_countries">Return to Saint Countries</a></b>

<% elsif params["cat"] == "saint" %>

<h1>Please enter all the information below and hit submit.</h1>

<form action="/new_saint_form_do">
  <input type="text" placeholder="New Saint Name" name="saint_name"></b>
  <input type="text" placeholder="Canonization Year (If known)" name="canonization_year"></b>
  <input type="text" placeholder= "Description" name="description"></b>
  <select name ="country_id">
    <% Country.all.each do |country| %> 
      <option value="<%= country.id %>"><%= country.country_name %></option>
    <% end %>
  </select></b>
  <select name ="category_id">
    <% Category.all.each do |category| %> 
      <option value="<%= category.id %>"><%= category.category_name %></option>
    <% end %>
  </select></b>
  
  <input type="submit">
</form>

<a href="/individual_saints">Return to Individual Saints</a></b>

<% end %>

<a href="/main_menu">Return to Main Menu</a></b>
<a href="/home">Logout?</a>