<h1>Please select the saint and field you wish to update and then add the updated information in the text box.</h1>

<form action="/update_saint_form_do">
  <select name ="saint_id">
    <% Saint.all.each do |saint| %> 
      <option value="<%= saint.id %>"><%= saint.saint_name %></option>
    <% end %>
  </select>
  <select name ="field">
    <option value="saint_name">Saint Name</option>
    <option value="canonization_year">Canonization Year</option>
    <option value="description">Description</option>
  </select></b>
  
  <h3>For updates to name, year, or description (leave blank for country and category updates)</h3></b>
  <input type="text" placeholder="Update" name="update">
  
  <h3>For country update, please select the new country (leave blank for others)</h3>
  <select name ="country_id">
    <option value="blank"></option>
    <% Country.all.each do |country| %> 
      <option value="<%= country.id %>"><%= country.country_name %></option>
    <% end %>
  </select></b>
  <h3>For category update, please select the new category (leave blank for others)</h3>
  <select name ="category_id">
    <option value="blank"></option>
    <% Category.all.each do |category| %> 
      <option value="<%= category.id %>"><%= category.category_name %></option>
    <% end %>
  </select></b>
  <input type="submit">
</form>

<a href="/individual_saints">Return to Individual Saints</a></b>
<a href="/main_menu">Return to Main Menu</a></b>
<a href="/home">Logout?</a>